# Ignorar todos los archivos .dat y achivos .png y videos mp4
*.dat
*.png
*.mp4

# Ignorar carpetas generadas por el código
/output/
RungeEsfe/
EulerEsfe/

# Ignorar ejecutables
*.out
*.exe

# Ignorar backups
*~

# Ignorar ejecutables por defecto
a.out

# Ignorar cualquier archivo sin extensión (muy comunes en ejecutables C)
*.[!c]*
!*.c
